<nb-card class="col-md-12 col-lg-12 col-xxxl-12 direction" style="margin-bottom: 20%;">
  <nb-card-body>
    <form *ngIf="this.reportState == 1" [formGroup]="this.fg" [nbSpinner]="loading" nbSpinnerStatus="success"
      nbSpinnerSize="giant">
      <h3 (click)="formDataInsert(1)">רכב ונהג</h3>
      <div class="form-group row">
        <label for="inputEmail1" class="label col-sm-3 col-form-label">מספר רכב</label>
        <div class="col-sm-9">
          <input type="text" pattern="\d*" nbInput fullWidth (keyup)="keytab($event, 8,'km')" shape="semi-round" [status]="getStatus(1,'carNum')"
            placeholder="00-000-00" formControlName="carNum" (focusout)="focusOutFunction('carNum')">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword2" class="label col-sm-3 col-form-label">קילומטר</label>
        <div class="col-sm-9">
          <input type="number" pattern="\d*" nbInput fullWidth shape="semi-round" status="info" placeholder="15,000km"
            formControlName="km" id="km" [status]="getStatus(1,'km')">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword2" class="label col-sm-3 col-form-label">מידת צמיג: {{getTireSizeFromInput()}}</label>
        <div class="col-sm-9" style="direction: ltr;">
          <input class="tireSizeInput" type="number" pattern="\d*" (keyup)="keytab($event, 3,'tireHeight')" nbInput shape="semi-round" status="info"
            placeholder="195" min="1" max="999" formControlName="tireWidth" [status]="getStatus(1,'tireWidth')">
          /
          <input class="tireSizeInput" type="number" pattern="\d*" nbInput (keyup)="keytab($event, 2,'tireDelimiter')" shape="semi-round" status="info"
            placeholder="65" min="1" max="99" formControlName="tireHeight" id="tireHeight" [status]="getStatus(1,'tireHeight')">
          R
          <input class="tireSizeInput" type="number" pattern="\d*" nbInput (keyup)="keytab($event, 2,'omesCode')" shape="semi-round" status="info"
            placeholder="15" min="1" max="99" formControlName="tireDelimiter" id="tireDelimiter" [status]="getStatus(1,'tireDelimiter')">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword2" class="label col-sm-3 col-form-label"></label>
        <div class="col-sm-9" style="direction: ltr;">
          <!-- <div style="width: 20%;" ></div> -->
          <input style="width: 20%; margin-right: 5%;" type="number" pattern="\d*" nbInput shape="semi-round" status="info"
            placeholder="92" min="1" max="99" formControlName="omesCode" id="omesCode" [status]="getStatus(1,'omesCode')">

          <input style="width: 20%;" type="text" nbInput shape="semi-round" status="info" placeholder="V"
            formControlName="speedCode" maxlength="1" [status]="getStatus(1,'speedCode')">

        </div>
      </div>

      <div class="form-group row direction">
        <label for="inputEmail1" class="label col-sm-3 col-form-label">שם חברה</label>
        <div class="col-sm-9">
          <input type="text" nbInput fullWidth shape="semi-round" status="info" placeholder="רכבי ליסינג בעמ"
            formControlName="lisingcompany">
        </div>
      </div>
      <div class="form-group row direction">
        <label for="inputEmail1" class="label col-sm-3 col-form-label">שם נהג</label>
        <div class="col-sm-9">
          <input type="text" nbInput fullWidth shape="semi-round" status="info" placeholder="שם מלא"
            formControlName="fullName">
        </div>
      </div>
      <div class="form-group row direction">
        <label for="inputPassword2" class="label col-sm-3 col-form-label">טלפון נהג</label>
        <div class="col-sm-9">
          <input type="number" pattern="\d*" nbInput fullWidth shape="semi-round" status="info" placeholder="מס' טלפון"
            formControlName="phoneNum">
        </div>
      </div>
    </form>

    <ngx-tires-stepper *ngIf="this.reportState == 2"></ngx-tires-stepper>

    <ngx-report-display *ngIf="this.reportState == 3" [report]=GetReport()></ngx-report-display>

  </nb-card-body>
<nb-card-footer>
    <div class="form-group row">
      <div class="col-sm-12" style="text-align: center;">
        <button (click)="backOnClick()" nbButton status="primary" style="margin:5%">מסך הקודם</button>
        <button [disabled]="!isStageComplete()" (click)="submitOnClick($event); " nbButton status="primary" style="margin:5%">מסך הבא</button>
        <!-- <button  (click)="test()" nbButton status="primary">test</button> -->
      </div>
    </div>

  </nb-card-footer>
</nb-card>


