@import '../../../@theme/styles/styles.scss';

// .direction{
//   direction: rtl !important;
//   text-align: right !important;
// }

.tireSizeInput{
  width: 26%;
}
.myLabel{
  font-size: 1.25rem;
}
input:empty {
  font-size: 1.125em !important;
}
.myOutPutLabel{
  font-size: 1.25rem;
  color:black;
}
