<div class="direction">
  <div class="row">
    <div col="4" style="font-weight: bold;"> סטאטוס: </div>
    <div col="8">{{GetStatus()}}</div>
  </div>
  <div *ngIf="IsConfirmed()" class="row">
    <div col="4" style="font-weight: bold;"> מס אישור: </div>
    <div col="8">{{GetConfirmationNum()}}</div>
  </div>
  <div class="row">
    <div col="4" style="font-weight: bold;"> טלפון נהג: </div>
    <div col="8">{{this.report.user.phoneNum}}</div>
  </div>

  <div class="row">
    <div col="4" style="font-weight: bold;"> סוג רכב: </div>
    <div col="8" *ngIf="this.report.vehicle != null">{{this.report.vehicle.manufacture}} {{this.report.vehicle.model}}</div>
  </div>

  <div class="row">
    <div col="4" style="font-weight: bold;"> ספק צמיגים: </div>
    <div col="8">{{this.report.leasingCompany}}</div>
  </div>
  <div class="row">
    <div col="4" style="font-weight: bold;"> עבודה נדרשת: </div>
  </div>
  <div class="row">
    <ul>
      <li *ngFor="let work of getWorkEvents()">{{GetWorkEventToString(work)}}

      </li>
    </ul>
  </div>
</div>

