<router-outlet></router-outlet>

<div class="row mb-5" >
  <div class="col-sm-12" style="text-align: center;">
    <!-- <button (click)="backOnClick()" nbButton status="primary" size="large" style="margin:5%">הקודם</button> -->
    <!-- <button [routerLink]="['first-page']" nbButton status="primary" size="large" style="margin:5%">1</button>
    <button [routerLink]="['second-page']" nbButton status="primary" size="large" style="margin:5%">2</button>
    <button [routerLink]="['second-page']" nbButton status="primary" size="large" style="margin:5%">3</button>
    <button [disabled]="!isStageComplete()" (click)="submitOnClick($event); " size="large" nbButton status="primary" style="margin:5%">המשך</button> -->
  </div>
</div>

