<div class="direction">
  <div class="row">
    <div col="4" style="font-weight: bold;">טלפון נהג: </div>
    <div col="8">{{this.report.user.phoneNum}}</div>
  </div>

  <div class="row">
    <div col="4" style="font-weight: bold;">סוג רכב: </div>
    <div col="8">{{this.report.vehicle.manufacture}} {{this.report.vehicle.model}}</div>
  </div>
  <div class="row">
    <div col="4" style="font-weight: bold;">סטאטוס: </div>
    <div col="8">{{report.status}}</div>
  </div>
  <div class="row">
    <div col="4" style="font-weight: bold;">ספק צמיגים: </div>
    <div col="8">{{this.report.leasingCompany}}</div>
  </div>
  <div class="row">
    <div col="4" style="font-weight: bold;">עבודה נדרשת: </div>
  </div>
  <div class="row">
    <!-- <nb-radio-group>
      <nb-radio>Option 1</nb-radio>
      <nb-radio>Option 2</nb-radio>
      <nb-radio disabled>Disabled Option</nb-radio>
    </nb-radio-group> -->


    <ul>
      <li *ngFor="let work of getWorkEvents()">{{work.repairType.type}}</li>
    </ul>
  </div>
</div>

